body {
   background-image: url("./resources/Jeopardy_empty_set.jpg");
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   position: fixed;
   font-size: 2vw;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;

}
#question{
   background:white ;
   position: relative;
   border: 1px solid black;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 5px;
   justify-content: center;
}
#answer{
   background: yellow;
   border: 1px dashed black;
   position: relative;
   display: none;
   font-size: 2vw;
   text-align:center;
   align-items: center;
   justify-content:left;
}
